<section id="file_issue_requested_representations_" class="subrecord-form">
  <h3 class="subrecord-form-heading-label"><%= I18n.t('file_issue._frontend.section.requested_representations') %></h3>

  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <% unless form.readonly? %>
        <div class="btn-group pull-right">
          <a class="btn btn-info disabled" href="javascript:void(0)" id="dispatch">
            <%= I18n.t('file_issue._frontend.action.mark_dispatched') %>
          </a>
          <% if @file_issue['issue_type'] === 'PHYSICAL' %>
            <a class="btn btn-info disabled" href="javascript:void(0)" id="receive">
              <%= I18n.t('file_issue._frontend.action.mark_received') %>
            </a>
          <% end %>
        </div>
      <% end %>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <% unless form.readonly? %>
              <th style="width: 40px;">
                <label><input type="checkbox"> <span class="sr-only"><%= I18n.t('requested_representations.toggle_all') %></span></label>
              </th>
            <% end %>
            <th><%= I18n.t('requested_representations.representation') %></th>
            <th><%= I18n.t('requested_representations.details') %></th>
            <% if @file_issue['issue_type'] === 'DIGITAL' %>
              <th style="width: 200px;"><%= I18n.t('requested_representations.upload_date') %></th>
              <th style="width: 200px;"><%= I18n.t('requested_representations.link_expiry_date') %></th>
            <% else %>
              <th style="width: 140px;"><%= I18n.t('requested_representations.dispatch') %></th>
              <th style="width: 140px;"><%= I18n.t('requested_representations.expiry') %></th>
              <th style="width: 140px;"><%= I18n.t('requested_representations.returned') %></th>
              <th style="width: 40px;"><%= I18n.t('requested_representations.overdue') %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% (@file_issue['requested_representations'] or []).each_with_index do |item, idx| %>
            <% form.push(form.set_index('requested_representations[]', idx), item) do  %>
              <tr <% if item['overdue'] %>class="danger"<% end %>>
                <% unless form.readonly? %>
                  <td>
                    <label><%= form.checkbox('id') %> <span class="sr-only"><%= I18n.t('requested_representations.toggle') %></span></label>
                  </td>
                <% end %>
                <td>
                  <% if item['_resolved']['representation_file'].nil? %>
                    <div class="text-warning"><%= I18n.t("file_issue._frontend.messages.digital_file_missing") %></div>
                  <% end %>
                  <div class="form-group">
                    <div class="token-list">
                      <span class="label label-info"><%= I18n.t("#{item['_resolved']['jsonmodel_type']}._singular") %></span>
                      <%= render_token(:object => item['_resolved'],
                                       :label => CGI::escapeHTML(item['_resolved']['display_string']),
                                       :type => item['_resolved']['jsonmodel_type'],
                                       :uri => item['ref'],
                                       :placement => "top",
                                       :inside_linker_browse => true) %>
                    </div>
                  </div>
                </td>
                <td><%= item['record_details'] or '' %></td>
                <td>
                  <div><%= form.label('dispatch_date', {}, ['text-muted']) %><br><%= form.textfield('dispatch_date', form.obj['dispatch_date'], placeholder: 'YYYY-MM-DD') %></div>
                  <div><%= form.label('dispatched_by', {}, ['text-muted']) %><br><%= form.textfield('dispatched_by', form.obj['dispatched_by']) %></div>
                </td>
                <td>
                  <%= form.label('expiry_date', {}, ['text-muted']) %><br>
                  <%= form.textfield('expiry_date', form.obj['expiry_date'], placeholder: 'YYYY-MM-DD') %>
                </td>
                <% if @file_issue['issue_type'] === 'PHYSICAL' %>
                  <td>
                    <div><%= form.label('returned_date', {}, ['text-muted']) %><br><%= form.textfield('returned_date', form.obj['returned_date'], placeholder: 'YYYY-MM-DD') %></div>
                    <div><%= form.label('received_by', {}, ['text-muted']) %><br><%= form.textfield('received_by', form.obj['received_by']) %></div>
                  </td>
                  <td>
                    <% if item['overdue'] %><span class="text-danger">Yes</span><% else %>No<% end %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<% unless form.readonly? %>
  <div id="requested_representations_dispatch_template"
       data-title="<%= I18n.t('file_issue._frontend.action.mark_dispatched') %>"><!--
     <div class="modal-body">
        <div>
          <label for="dispatch_date"><%= I18n.t('file_issue.dispatch_date') %></label><br>
          <input id="dispatch_date" class="form-control" type="text" value="<%= Date.today %>" placeholder="YYYY-MM-DD" />
        </div>
        <div>
          <label for="dispatched_by"><%= I18n.t('file_issue.dispatched_by') %></label><br>
          <input id="dispatched_by" class="form-control" type="text" value="<%= @current_user.name %>"/>
        </div>
        <div>
          <label for="expiry_date"><%= I18n.t('file_issue.expiry_date') %></label><br>
          <input id="expiry_date" class="form-control" type="text" value="<%= Date.today + (@file_issue['issue_type'] === 'PHYSICAL' ? 90 : 14) %>"  placeholder="YYYY-MM-DD" />
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary confirmButton"><%= I18n.t('file_issue._frontend.action.dispatch_button') %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
     </div>
  --></div>

  <%# FIXME I18n %>
  <div id="requested_representations_receive_template"
       data-title="<%= I18n.t('file_issue._frontend.action.mark_received') %>"><!--
     <div class="modal-body">
        <div>
          <label for="returned_date"><%= I18n.t('file_issue.returned_date') %></label><br>
          <input id="returned_date" class="form-control" type="text" value="<%= Date.today %>" placeholder="YYYY-MM-DD" />
        </div>
        <div>
          <label for="received_by"><%= I18n.t('file_issue.received_by') %></label><br>
          <input id="received_by" class="form-control" type="text" value="<%= @current_user.name %>"/>
        </div>
     </div>
     <div class="modal-footer">
        <button class="btn btn-primary confirmButton"><%= I18n.t('file_issue._frontend.action.receive_button') %></button>
        <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "actions.cancel" %></button>
     </div>
  --></div>
<% end %>