<%= readonly_context :file_issue_request, @file_issue_request do |readonly| %>
    <h2>
      <%= @file_issue_request.title %>  <span class="label label-info"><%= I18n.t("file_issue_request._singular") %></span>
      <%= @file_issue_request.urgent ? urgent_flag : '' %>
    </h2>

    <%= render_aspace_partial :partial => "shared/flash_messages" %>

    <% define_template "file_issue_request", jsonmodel_definition(:file_issue_request) do |form, file_issue_request| %>
        <section id="basic_information">
            <h3><%= I18n.t("file_issue_request._frontend.section.basic_information") %></h3>

            <%= render_plugin_partials("top_of_basic_information_file_issue_request",
                                       :form => form,
                                       :record => @file_issue_request) %>

            <%= render_aspace_partial :partial => 'shared/qsa_id_form', :locals => {:form => form, :model => :file_issue_request} %>

            <div class="form-group">
                <label class="control-label col-sm-2"><%= I18n.t("file_issue_request.agency") %></label>
                <div class="label-only col-sm-9">
                  <div class="token-list">
                      <%= render_token(:object => @file_issue_request['agency']['_resolved'],
                                       :label => CGI::escapeHTML(@file_issue_request['agency']['_resolved']['title']),
                                       :type => @file_issue_request['agency']['_resolved']['jsonmodel_type'],
                                       :uri => @file_issue_request['agency']['ref'],
                                       :placement => "top",
                                       :inside_linker_browse => true) %>
                  </div>
                </div>
            </div>

            <%= form.label_and_textfield "agency_location_display_string" %>
            <%= form.label_and_textfield "created_by" %>


            <% ["digital_request_status", "physical_request_status"].each do |status| %>
              <div class="form-group">
                <label class="control-label col-sm-2"><%= I18n.t("file_issue_request.#{status}") %></label>
                <div class="label-only col-sm-9"><%= status_label(@file_issue_request[status]) %></div>
              </div>
            <% end %>

            <%= form.label_and_boolean "urgent" %>

            <%= form.label_and_textfield "request_notes" %>

            <%= form.label_and_textfield "delivery_location" %>

            <%= form.label_and_textfield "delivery_authorizer" %>

            <%= form.label_and_boolean "preapprove_quotes" %>

            <%= form.label_and_textfield "lodged_by" %>

            <% ["file_issue_digital", "file_issue_physical"].each do |issue| %>

              <% if @file_issue_request[issue] %>
                <div class="form-group">
                  <label class="control-label col-sm-2"><%= I18n.t("file_issue_request.#{issue}") %></label>
                  <div class="label-only col-sm-9">
                    <div class="token-list">
                      <% fi = @file_issue_request[issue] %>
                      <%= render_token(:object => fi['_resolved'],
                                       :label => CGI::escapeHTML(fi['_resolved']['qsa_id_prefixed']),
                                       :type => fi['_resolved']['jsonmodel_type'],
                                       :uri => fi['ref'],
                                       :placement => "top",
                                       :inside_linker_browse => false) %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>

        </section>

        <section id="requested_representations" class="subrecord-form-dummy">
            <h3 class="subrecord-form-heading-label"><%= I18n.t('requested_representations._plural') %></h3>
            <div class="subrecord-form-container">
                <div class="subrecord-form-fields">
                    <table class="table table-striped">
                        <tr>
                            <th><%= I18n.t('requested_representations.request_type') %></th>
                            <th><%= I18n.t('requested_representations.representation') %></th>
                            <th><%= I18n.t('requested_representations.details') %></th>
                        </tr>
                        <% (@file_issue_request['requested_representations'] or []).each_with_index do |request, idx| %>
                            <tr>
                                <td><span class="label label-info"><%= request['request_type'] %></span></td>
                                <td>
                                    <% if @file_issue_request["digital_request_status"] == 'QUOTE_ACCEPTED' && request['request_type'] == 'DIGITAL' && request['_resolved']['jsonmodel_type'] == 'physical_representation' %>
                                      <div class="alert alert-warning">
                                        <%= I18n.t('requested_representations.warning_digital_representation_not_linked') %>
                                      </div>
                                    <% end %>
                                    <% if is_readonly %>
                                        <div class="form-group">
                                            <div class="token-list">
                                                <span class="label label-info"><%= I18n.t("#{request['_resolved']['jsonmodel_type']}._singular") %></span>
                                                <%= render_token(:object => request['_resolved'],
                                                                 :label => CGI::escapeHTML(request['_resolved']['display_string']),
                                                                 :type => request['_resolved']['jsonmodel_type'],
                                                                 :uri => request['ref'],
                                                                 :placement => "top",
                                                                 :inside_linker_browse => true) %>
                                            </div>
                                        </div>
                                    <% else %>
                                        <%# FIXME: Need the extra restriction on responsible agency here... %>
                                        <div class="col-sm-9">
                                            <div class="form-group required">
                                                <div class="input-group linker-wrapper">
                                                    <input id="linker_request_<%= idx %>" type="text" class="linker"
                                                           data-label="<%= I18n.t("file_issue_request.representation") %>"
                                                           data-label_plural="<%= I18n.t("file_issue_request.representations") %>"
                                                           data-path="file_issue_request[requested_representations][]"
                                                           data-name="ref"
                                                           data-url="<%= url_for(:controller => :search,
                                                                                 :action => :do_search,
                                                                                 :format => :json,
                                                                                 :filter_term => [
                                                                                     {"controlling_record_u_sstr" => request['_resolved']['controlling_record']['ref']}.to_json,
                                                                                     {'file_issue_allowed_u_sbool' => true}.to_json
                                                                                 ])
                                                                     %>"
                                                           data-browse-url="<%= url_for(:controller => :search,
                                                                                        :action => :do_search,
                                                                                        :format => :js,
                                                                                        :filter_term => [
                                                                                            {"controlling_record_u_sstr" => request['_resolved']['controlling_record']['ref']}.to_json,
                                                                                            {'file_issue_allowed_u_sbool' => true}.to_json
                                                                                        ])
                                                                            %>"
                                                           data-selected="<%= ASUtils.to_json(request['_resolved'] || {}) %>"
                                                           data-format_property="title"
                                                           data-multiplicity="one"
                                                           data-types='["physical_representation", "digital_representation"]'/>
                                                    <div class="input-group-btn">
                                                        <a class="btn btn-default dropdown-toggle last" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="javascript:void(0);" class="linker-browse-btn"><%= I18n.t("actions.browse") %></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                </td>
                                <td><%= request['record_details'] or '' %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </section>


        <% if is_readonly %>
            <%= render_aspace_partial :partial => "quotes", locals: {form: readonly} %>
        <% end %>


        <% if is_readonly %>
            <%= render_aspace_partial :partial => "shared/conversation_widget", :locals => { handle_id: @file_issue_request.handle_id } %>

            <%= display_audit_info(@file_issue_request) %>
        <% end %>
    <% end %>

    <% readonly.emit_template "file_issue_request" %>

    <%= show_plugins_for(@file_issue_request, readonly) %>
<% end %>

<script>
 $(function() {
     $(".linker:not(.initialised)").linker();
 });
</script>
