<% ['digital', 'physical'].each do |quote_type| %>
    <% type = quote_type + '_quote' %>
    <% if @file_issue_request[type] %>
        <% quote = @file_issue_request[type]['_resolved'] %>
        <section id="<%= type %>" class="subrecord-form-dummy <%= type %>">
            <h3 class="subrecord-form-heading-label"><%= I18n.t("file_issue_request._frontend.section.#{type}") %></h3>
            <div class="subrecord-form-container">
                <div style="padding-bottom:40px;">
                    <% if quote['issued_date'] %>
                        <% if @file_issue_request['version'] != @file_issue_request["#{quote_type}_quote_for_version"] %>
                            <div class="alert alert-warning">
                              <%= I18n.t("file_issue_request._frontend.messages.quote_stale") %>
                            </div>
                            <span class="label label-warning">
                                <%= I18n.t("file_issue_request._frontend.messages.stale_quote_issued_on", :date => quote['issued_date']) %>
                            </span>
                            <div class="btn-group pull-right">
                                <%= link_to I18n.t("file_issue_request._frontend.action.regenerate_quote"),
                                            {:controller => :file_issue_requests,
                                             :action => :generate_quote,
                                             :type => quote_type,
                                             :id => @file_issue_request.id},
                                            :class => "btn btn-sm btn-info quote-button quote-regenerate-button", :method => :post %>
                                <%= link_to I18n.t("file_issue_request._frontend.action.issue_quote"),
                                            {:controller => :file_issue_requests,
                                             :action => :issue_quote,
                                             :type => quote_type,
                                             :id => @file_issue_request.id},
                                            :class => "btn btn-sm btn-success quote-button quote-issue-button", :method => :post %>
                            </div>
                        <% else %>
                            <div class="pull-left">
                                <span class="label label-success">
                                    <%= I18n.t("file_issue_request._frontend.messages.quote_issued_on", :date => quote['issued_date']) %>
                                </span>
                            </div>
                            <div class="btn-group pull-right">
                                <%= link_to I18n.t("file_issue_request._frontend.action.withdraw_quote"),
                                            {:controller => :file_issue_requests,
                                             :action => :withdraw_quote,
                                             :type => quote_type,
                                             :id => @file_issue_request.id},
                                            :class => "btn btn-sm btn-warning", :method => :post %>
                            </div>
                        <% end %>
                    <% else %>
                        <div class="pull-left">
                            <span class="label label-warning">
                                <%= I18n.t("file_issue_request._frontend.messages.quote_not_issued") %>
                            </span>
                        </div>

                        <div class="btn-group pull-right">
                            <div class="pull-left quote-message"> </div>

                            <%= link_to I18n.t("file_issue_request._frontend.action.regenerate_quote"),
                                        {:controller => :file_issue_requests,
                                         :action => :generate_quote,
                                         :type => quote_type,
                                         :id => @file_issue_request.id},
                                        :class => "btn btn-sm btn-info quote-button quote-regenerate-button", :method => :post %>

                            <%= link_to I18n.t("file_issue_request._frontend.action.issue_quote"),
                                        {:controller => :file_issue_requests,
                                         :action => :issue_quote,
                                         :type => quote_type,
                                         :id => @file_issue_request.id},
                                        :class => "btn btn-sm btn-success quote-button quote-issue-button", :method => :post %>

                            <%= link_to I18n.t("file_issue_request._frontend.action.revert_quote"),
                                        {:controller => :file_issue_requests,
                                         :action => :show,
                                         :id => @file_issue_request.id},
                                        :class => "btn btn-sm btn-info quote-button quote-revert-button",
                                        :style => "display:none;" %>

                            <%= form_tag({ :controller => :file_issue_requests,
                                           :action => :save_quote,
                                           :type => quote_type,
                                           :id => @file_issue_request.id}, {:style => "display:inline-block;"}) do |f| %>
                                <button type="submit" class="btn btn-sm btn-primary quote-button quote-save-button" style="display:none;">
                                    <%= I18n.t("file_issue_request._frontend.action.save_quote") %>
                                </button>
                                <input type="hidden" name="quote_json"/>
                            <% end %>
                        </div>
                    <% end %>
                </div>

                <table class="table table-striped table-bordered" id="<%= type %>-table">
                    <tr>
                        <% unless quote['issued_date'] %>
                            <th></th>
                        <% end %>
                        <th><%= I18n.t("file_issue_request.quote.unit_description") %></th>
                        <th style="text-align:right"><%= I18n.t("file_issue_request.quote.unit_cost") %></th>
                        <th style="width:100px;"><%= I18n.t("file_issue_request.quote.unit_type") %></th>
                        <th style="text-align:center"><%= I18n.t("file_issue_request.quote.number_of_units") %></th>
                        <th style="text-align:right"><%= I18n.t("file_issue_request.quote.cost") %></th>
                    </tr>

                    <% quote['line_items'].each do |line| %>
                        <% if quote['issued_date'] %>
                            <tr>
                                <td>
                                    <%= line['description'] %>
                                </td>
                                <td style="text-align:right">
                                    <%= line['charge_per_unit_display'] %>
                                </td>
                                <td>
                                    <%= I18n.t("enumerations.runcorn_charge_quantity_unit.#{line['charge_quantity_unit']}") %>
                                </td>
                                <td style="text-align:center">
                                    <%= line['quantity'] %>
                                </td>
                                <td style="text-align:right"><%= line['charge_display'] %></td>
                            </tr>
                        <% else %>
                            <tr class="quote-line">
                                <td>
                                    <button class="btn btn-xs btn-danger quote-line-button quote-line-delete-button"
                                            title="Remove this line from the quote">
                                        x
                                    </button>
                                </td>
                                <td class="editable-quote-field"
                                    data-field="description" data-value="<%= line['description'] %>">
                                    <%= line['description'] %>
                                </td>
                                <td class="editable-quote-field" style="text-align:right"
                                    data-field="charge_per_unit_cents"
                                    data-value="<%= line['charge_per_unit_cents'] %>">
                                    <%= line['charge_per_unit_display'] %>
                                </td>
                                <td class="editable-quote-field"
                                    data-field="charge_quantity_unit"
                                    data-value="<%= line['charge_quantity_unit'] %>">
                                    <%= I18n.t("enumerations.runcorn_charge_quantity_unit.#{line['charge_quantity_unit']}") %>
                                </td>
                                <td class="editable-quote-field" style="text-align:center"
                                    data-field="quantity"
                                    data-value="<%= line['quantity'] %>">
                                    <%= line['quantity'] %>
                                </td>
                                <td class="quote-cost" style="text-align:right"><%= line['charge_display'] %></td>
                            </tr>
                        <% end %>
                    <% end %>
                    <tr>
                        <% unless quote['issued_date'] %>
                            <th>
                                <button class="btn btn-xs btn-success quote-line-button quote-line-add-button"
                                        title="Add a line to the quote">
                                    +
                                </button>
                            </th>
                        <% end %>
                        <th><%= I18n.t("file_issue_request.quote.total") %></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="quote-cost quote-total" style="text-align:right"><%= quote['total_charge_display'] %></th>
                    </tr>
                </table>

                <%= form.label_and_textarea "#{quote_type}_processing_estimate" %>

                <% unless quote['issued_date'] %>
                    <div class="quote-json" style="display:none;">
                        <%= quote.to_json %>
                    </div>

                    <div class="quote-new-line" style="display:none;">
                        <table>
                            <tr class="quote-line">
                                <td></td>
                                <td class="editable-quote-field"
                                    data-field="description" data-value="-- Add a description --">
                                    -- Add a description --
                                </td>
                                <td class="editable-quote-field" style="text-align:right"
                                    data-field="charge_per_unit_cents"
                                    data-value="0">
                                    $0.00
                                </td>
                                <td class="editable-quote-field"
                                    data-field="charge_quantity_unit"
                                    data-value="order">
                                    <%= I18n.t("enumerations.runcorn_charge_quantity_unit.order") %>
                                </td>
                                <td class="editable-quote-field" style="text-align:center"
                                    data-field="quantity"
                                    data-value="1">
                                    1
                                </td>
                                <td class="quote-cost" style="text-align:right">$0.00</td>
                            </tr>
                        </table>
                    </div>

                    <div class="quote-form-elements" style="display:none;">
                        <input class="form-control quote-form-element" name="description"/>
                        <input class="form-control quote-form-element" name="charge_per_unit_cents" style="max-width:80px;text-align:right"/>
                        <select class="form-control quote-form-element" name="charge_quantity_unit">
                            <% JSONModel.enum_values('runcorn_charge_quantity_unit').each do |v| %>
                                <option value="<%= v %>"><%= I18n.t('enumerations.runcorn_charge_quantity_unit.' + v) %></option>
                            <% end %>
                        </select>
                        <input class="form-control quote-form-element" name="quantity" style="max-width:60px;text-align:center"/>
                    </div>

                    <script>
                        new QuoteEditor({quote: '#<%= type %>-table'});
                    </script>
                <% end %>
            </div>
        </section>

    <% else %>

        <% if @file_issue_request['requested_representations'].any?{|rep| rep['request_type'] == quote_type.upcase} %>
            <section id="<%= type %>" class="<%= type %>">
                <h3><%= I18n.t("file_issue_request._frontend.section.#{type}") %></h3>

                <div style="padding-bottom:40px;">
                    <div class="btn-group">
                        <%= link_to I18n.t("file_issue_request._frontend.action.generate_#{type}"),
                                    {:controller => :file_issue_requests,
                                     :action => :generate_quote,
                                     :type => quote_type,
                                     :id => @file_issue_request.id},
                                    :class => "btn btn-sm btn-success", :method => :post %>
                    </div>

                    <%= form.label_and_textarea "#{quote_type}_processing_estimate" %>
                </div>
            </section>
        <% end %>
    <% end %>
<% end %>
