<%= setup_context :object => @file_issue_request, :title => @file_issue_request.title %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar", locals: {is_readonly: false} %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= form_for(@file_issue_request,
                   :as => "file_issue_request",
                   :url => {:action => :update},
                   :html => {:class => 'form-horizontal aspace-record-form',
                             :id => "file_issue_request_form"}.merge(update_monitor_params(@file_issue_request))) do |f| %>
        <%= form_context :file_issue_request, @file_issue_request do |form| %>
          <%= render_aspace_partial :partial => "file_issue_requests/form", locals: {is_readonly: false, form: form} %>

          <div class="form-actions">
            <button type="submit" class="btn btn-primary"><%= I18n.t("file_issue_request._frontend.action.save") %></button>
            <%= link_to I18n.t("actions.cancel"), {:controller => :file_issue_requests, :action => :show, :id => @file_issue_request.id}, :class => "btn btn-cancel btn-default" %>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
