<%= setup_context(:title => I18n.t("file_issue_request._plural")) %>

<%
  @no_title = true

  add_column(urgent_flag,
             proc {|record|
               parsed = ASUtils.json_parse(record['json'])
               parsed['urgent'] ? I18n.t('file_issue_request.is_urgent').html_safe : ''

               urgent_flag if parsed['urgent']

             }, :sortable => true, :sort_by => 'file_issue_request_urgent_u_ssort')

  add_column(I18n.t("file_issue_request.id"),
             proc {|record|
               "<span class=\"map-browse-content map-browse-id\">#{record['title']}</span>".html_safe
             }, :sortable => true, :sort_by => 'file_issue_request_title_u_ssort')

  add_column(I18n.t("file_issue_request.agency_id"),
             proc {|record|
                   parsed = ASUtils.json_parse(record['json'])
                   agency = parsed.fetch('agency', {}).fetch('_resolved', {})

                   out = "<span class=\"map-browse-content map-browse-id\">"
                   out += 'A' + agency.fetch('qsa_id', '').to_s
                   out += "</span>"

                   out.html_safe

             }, :sortable => true, :sort_by => 'file_issue_request_agency_id_u_ssort')

  add_column(I18n.t("file_issue_request.agency_details"),
             proc {|record|
                   parsed = ASUtils.json_parse(record['json'])
                   agency = parsed.fetch('agency', {}).fetch('_resolved', {})
                   out = agency.fetch('display_name', {}).fetch('sort_name', '')
                   out += '<ul><li> Location: ' + parsed["agency_location_display_string"] + '</li>'
                   out += '<li> Contact: ' + record["created_by"] + '</li></ul>'

                   out.html_safe

             }, :sortable => true, :sort_by => 'file_issue_request_agency_name_u_ssort')

  add_column(I18n.t("file_issue_request.request_status"),
             proc {|record|
               parsed = ASUtils.json_parse(record['json'])

               out = "<span class=\"map-browse-content\">"

               out += ['digital', 'physical'].reject{|type| parsed["#{type}_request_status"] == 'NONE_REQUESTED' }
                        .map{|type| "#{I18n.t("file_issue_request.#{type}")}:" +
                                    " <div class=\"pull-right\">#{status_label(parsed["#{type}_request_status"])}</div>"}
                        .join('<br>')

               out += '</span>'

               out.html_safe
             })

%>

<div class="row">
  <div class="col-md-3">
    <div class="sidebar">
      <%= render_aspace_partial :partial => "search/filter" %>
    </div>
  </div>
  <div class="col-md-9">
    <% if user_can?('update_file_issue_request_record') %>
      <div class="record-toolbar">
        <div class="btn-group pull-right">
          <%= link_to I18n.t("actions.export_csv"), request.parameters.merge({ :format => :csv}), id: "searchExport",  class:  "btn btn-sm btn-info" %>
          <%= link_to I18n.t("file_issue_request._frontend.action.create"), {:controller => :file_issue_requests, :action => :new}, :class => "btn btn-sm btn-default" %>
        </div>
        <br style="clear:both" />
      </div>
    <% end %>

    <div class="record-pane">
      <%= link_to_help :topic => "search" %>

      <h2><%= I18n.t("file_issue_request._plural") %></h2>

      <%= render_aspace_partial :partial => "shared/flash_messages" %>

      <%= render_aspace_partial :partial => "search/listing" %>
    </div>
  </div>
</div>
