<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/transfers.js" %>
<%= javascript_include_tag "#{AppConfig[:frontend_proxy_prefix]}assets/conversation.js" %>
<link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/transfers.css" %>" media="all" rel="stylesheet" type="text/css">
<link href="<%= "#{AppConfig[:frontend_proxy_prefix]}assets/styles/conversation.css" %>" media="all" rel="stylesheet" type="text/css">

<script type="text/template" id="MAPTransferBrowseActions">
  <li class="divider"></li>
  <li><%= link_to I18n.t("transfer_proposal._plural"), :controller => :transfer_proposals, :action => :index %></li>
  <li><%= link_to I18n.t("transfer._plural"), :controller => :transfers, :action => :index %></li>
</script>
