<h2><%= @transfer.title %>  <span class="label label-info"><%= I18n.t("transfer._singular") %></span></h2>

<%= render_aspace_partial :partial => "shared/flash_messages" %>

<% define_template "transfer", jsonmodel_definition(:transfer) do |form, transfer| %>
    <%= readonly_context :transfer, @transfer do |readonly| %>
        <section id="basic_information">
            <h3><%= I18n.t("transfer._frontend.section.basic_information") %></h3>

            <%= render_plugin_partials("top_of_basic_information_transfer",
                                       :form => form,
                                       :record => @transfer) %>

            <%= readonly.label_and_textfield "identifier" %>

            <div class="form-group">
                <label class="control-label col-sm-2"><%= I18n.t("transfer.agency") %></label>
                <div class="label-only col-sm-9">
                  <div class="token-list">
                      <%= render_token(:object => @transfer['agency']['_resolved'],
                                       :label => @transfer['agency']['_resolved']['title'],
                                       :type => @transfer['agency']['_resolved']['jsonmodel_type'],
                                       :uri => @transfer['agency']['ref'],
                                       :placement => "top") %>
                  </div>
                </div>
            </div>

            <%= readonly.label_and_textfield "agency_location_display_string" %>

            <%= form.label_and_textfield "title" %>

            <%= form.label_and_date "date_scheduled" %>
            <%= form.label_and_date "date_received" %>
            <%= form.label_and_textfield "quantity_received" %>

            <div class="form-group">
              <label class="control-label col-sm-2"><%= I18n.t("transfer.status") %></label>
              <div class="label-only col-sm-9"><%= status_label(@transfer['status']) %></div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"><%= I18n.t("transfer_proposal._singular") %></label>
                <div class="label-only col-sm-9">
                  <div class="token-list">
                      <%= render_token(:object => @transfer['transfer_proposal']['_resolved'],
                                       :label => CGI::escapeHTML(@transfer['transfer_proposal']['_resolved']['title']),
                                       :type => @transfer['transfer_proposal']['_resolved']['jsonmodel_type'],
                                       :uri => @transfer['transfer_proposal']['ref'],
                                       :placement => "top",
                                       :inside_linker_browse => true) %>
                  </div>
                </div>
            </div>

            <%= form.label_and_textfield "lodged_by" %>

            <% if @transfer['import_job'] %>
              <% job = @transfer['import_job']['_resolved'] %>
              <% state_time_map = { 'queued' => 'submitted',
                                    'running' => 'started',
                                    'canceled' => 'finished',
                                    'completed' => 'finished',
                                    'failed' => 'finished' } %>
              <div class="form-group">
                  <label class="control-label col-sm-2"><%= I18n.t("transfer.import_job") %></label>
                  <div class="label-only col-sm-9">
                    <div class="token-list">
                        <%= render_token(:object => job,
                                         :label => I18n.t("transfer._frontend.import_job_state.#{job['status']}") + ' ' + 
                                                     job["time_#{state_time_map[job['status']]}"],
                                         :type => job['jsonmodel_type'],
                                         :uri => @transfer['import_job']['ref'],
                                         :placement => "top",
                                         :inside_linker_browse => true) %>
                    </div>
                  </div>
              </div>
            <% end %>

        </section>
    <% end %>
<% end %>

<%= form.emit_template "transfer" %>

