<%
  status = @transfer['import_job'] ? @transfer['import_job']['_resolved']['status'] : 'no_job'
  label = I18n.t("transfer._frontend.import_button_label.#{status}")
%>

<%= form_tag({
               :controller => "transfers",
               :action => "import"
             },
             :method => "post",
             :id => @transfer.id) do %>

  <button class="btn btn-sm btn-warning"
          id="transfer-import-button"
          <%= 'disabled="disabled"' if ['queued', 'running', 'completed'].include?(status) %>
          data-import_no_job="<%= I18n.t("transfer._frontend.import_button_label.no_job") %>"
          data-import_queued="<%= I18n.t("transfer._frontend.import_button_label.queued") %>"
          data-import_running="<%= I18n.t("transfer._frontend.import_button_label.running") %>"
          data-import_canceled="<%= I18n.t("transfer._frontend.import_button_label.canceled") %>"
          data-import_completed="<%= I18n.t("transfer._frontend.import_button_label.completed") %>"
          data-import_failed="<%= I18n.t("transfer._frontend.import_button_label.failed") %>">
    <%= label %>
  </button>

<% end %>

