<div class="row">
    <div class="col-md-12">
        <div class="record-toolbar transfers-toolbar">
            <% if !['edit', 'update'].include?(controller.action_name) %>
                <div class="btn-group pull-left">
                    <%= link_to I18n.t("actions.edit"), {:controller => :transfers, :action => :edit, :id => @transfer.id}, :class => "btn btn-sm btn-primary" %>
                </div>
                <div class="btn-group pull-right">
                  <% if @transfer['checklist_metadata_approved'] %>
                    <%= render_aspace_partial :partial => "transfers/import_button" %>
                  <% end %>

                  <% if active %>
                    <%= form_tag({:controller => "transfers",
                                  :action => "cancel"},
                                  :method => "post",
                                  :id => "cancel_transfer") do %>
                      <%= hidden_field_tag "transfer_id", @transfer.id %>
                      <button class="btn btn-cancel btn-default btn-sm"><%=  I18n.t("transfer._frontend.cancel_button") %></button>
                    <% end %>
                  <% end %>

                </div>
            <% end %>

            <% if ['edit', 'update'].include?(controller.action_name) %>
                <div class="pull-left revert-changes">
                    <%= link_to I18n.t("actions.revert"), {:controller => :transfers, :action => :edit, :id => @transfer.id}, :class => "btn btn-sm btn-default" %>
                    <%= I18n.t("actions.toolbar_disabled_message") %>
                </div>
            <% end %>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div id="transfer_confirm_cancel_template"
     data-title="<%= I18n.t("transfer._frontend.messages.confirm_cancel_title") %>"><!--
   <div class="modal-body">
      <p><%= I18n.t('transfer._frontend.messages.confirm_cancel_message') %></p>
   </div>
   <div class="modal-footer">
      <button class="btn btn-primary confirmButton"><%= I18n.t('transfer._frontend.cancel_button') %></button>
      <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "transfer._frontend.back_button" %></button>
   </div>
--></div>
