<button
    style="display: none;"
    class="btn btn-default validate-metadata-btn"
    data-file-key="<%= file.fetch('key') %>"
    data-default-label="<%= I18n.t("transfer._frontend.action.validate") %>"
    data-valid-label="<%= I18n.t("transfer._frontend.messages.metadata_valid") %>"
    data-not-valid-label="<%= I18n.t("transfer._frontend.messages.metadata_errors") %>">
    <%= I18n.t("transfer._frontend.action.validate") %>
</button>

