<%= setup_context(:object => @transfer, :title => @transfer.title) %>

<%= form_for @transfer, :as => "transfer", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form', :id => "transfer_form"}.merge(update_monitor_params(@transfer)) do |f| %>
    <%= form_context :transfer, @transfer do |form| %>
        <div class="row">
            <div class="col-md-3">
                <%= render_aspace_partial :partial => "sidebar" %>
            </div>

            <div class="col-md-9">
                <%= render_aspace_partial :partial => "transfers/toolbar" %>
                <div class="record-pane">
                    <%= link_to_help :topic => "transfer" %>
                    <%= render_aspace_partial :partial => "transfers/form", :locals => {:form => form} %>

                    <section id="transfer_checklist" class="subrecord-form transfer-checklist">
                        <h3><%= I18n.t("transfer._frontend.section.checklist") %></h3>
                        <div class="transfer_checklist_item">
                            <input type="checkbox" id="checklist_metadata_received" name="transfer[checklist_metadata_received]" value="true" <% if @transfer.checklist_metadata_received %>checked<% end %>>
                            <label class="form-check-label" for="checklist_metadata_received"><%= I18n.t("transfer.checklist.metadata_received") %></label>
                        </div>

                        <div class="transfer_checklist_item">
                            <input type="checkbox" id="checklist_rap_received" name="transfer[checklist_rap_received]" value="true" <% if @transfer.checklist_rap_received %>checked<% end %>>
                            <label class="form-check-label" for="checklist_rap_received"><%= I18n.t("transfer.checklist.rap_received") %></label>
                        </div>

                        <div class="transfer_checklist_item">
                            <input type="checkbox" id="checklist_transfer_received" name="transfer[checklist_transfer_received]" value="true" <% if @transfer.checklist_transfer_received %>checked<% end %>>
                            <label class="form-check-label" for="checklist_transfer_received"><%= I18n.t("transfer.checklist.transfer_received") %></label>
                        </div>
                    </section>


                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary"><%= I18n.t("transfer._frontend.action.save") %></button>
                        <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
