<%= setup_context(:object => @transfer, :title => @transfer.title) %>

<%= form_for @transfer, :as => "transfer", :url => {:action => :update}, :html => {:class => 'form-horizontal aspace-record-form', :id => "transfer_form"}.merge(update_monitor_params(@transfer)) do |f| %>
    <%= form_context :transfer, @transfer do |form| %>
        <div class="row">
            <div class="col-md-3">
                <%= render_aspace_partial :partial => "sidebar" %>
            </div>

            <div class="col-md-9">
                <%= render_aspace_partial :partial => "transfers/toolbar" %>
                <div class="record-pane">
                    <%= render_aspace_partial :partial => "shared/form_messages", :locals => {:object => @transfer, :form => form} %>

                    <%= link_to_help :topic => "transfer" %>
                    <%= render_aspace_partial :partial => "transfers/form", :locals => {:form => form} %>

                    <% define_template "transfer_edit", jsonmodel_definition(:transfer) do |form, transfer| %>
                        <section id="transfer_checklist" class="subrecord-form transfer-checklist">
                            <h3 class="subrecord-form-heading-label"><%= I18n.t("transfer._frontend.section.checklist") %></h3>
                            <div class="transfer_checklist_item">
                                <input type="checkbox" id="checklist_metadata_received" name="transfer[checklist_metadata_received]" value="true" <% if @transfer.checklist_metadata_received %>checked<% end %>>
                                <label class="form-check-label" for="checklist_metadata_received"><%= I18n.t("transfer.checklist.metadata_received") %></label>
                            </div>

                            <div class="transfer_checklist_item">
                                <input type="checkbox" id="checklist_rap_received" name="transfer[checklist_rap_received]" value="true" <% if @transfer.checklist_rap_received %>checked<% end %>>
                                <label class="form-check-label" for="checklist_rap_received"><%= I18n.t("transfer.checklist.rap_received") %></label>
                            </div>

                            <div class="transfer_checklist_item">
                                <input type="checkbox" id="checklist_metadata_approved" name="transfer[checklist_metadata_approved]" value="true" <% if @transfer.checklist_metadata_approved %>checked<% end %>>
                                <label class="form-check-label" for="checklist_metadata_approved"><%= I18n.t("transfer.checklist.metadata_approved") %></label>
                            </div>

                            <div class="transfer_checklist_item">
                                <input type="checkbox" id="checklist_transfer_received" name="transfer[checklist_transfer_received]" value="true" <% if @transfer.checklist_transfer_received %>checked<% end %>>
                                <label class="form-check-label" for="checklist_transfer_received"><%= I18n.t("transfer.checklist.transfer_received") %></label>
                            </div>
                        </section>

                        <% unless ASUtils.wrap(@transfer['files']).empty? %>
                            <section id="transfer_files_">
                                <h3 class="subrecord-form-heading-label"><%= I18n.t("transfer._frontend.section.files") %></h3>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th><%= I18n.t("transfer.files.filename") %></th>
                                            <th><%= I18n.t("transfer.files.mime_type") %></th>
                                            <th><%= I18n.t("transfer.files.role") %></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% Array(@transfer['files']).each_with_index do |file, idx| %>
                                            <% form.push("files[]") do |form| %>
                                                <tr id="<%= "file_#{idx}" %>">
                                                    <td class="file-filename"><%= file.fetch('filename') %></td>
                                                    <td class="file-mime-type"><%= file.fetch('mime_type') %></td>
                                                    <td class="file-role-cell">
                                                        <%= form.hidden_input('key', file.fetch('key')) %>
                                                        <%= form.select('role', form.possible_options_for(['files', 'role']), {:class => "file-role", :default => file.fetch('role')}) %>
                                                    </td>
                                                    <td class="table-record-actions">
                                                        <div class="btn-group">
                                                            <%=
                                                            link_to(I18n.t("transfer.files.view"),
                                                                    {
                                                                        :controller => :transfer_files,
                                                                        :action => :show,
                                                                        :key => file.fetch('key'),
                                                                        :filename => file.fetch('filename'),
                                                                        :mime_type => file.fetch('mime_type'),
                                                                    },
                                                                    {
                                                                        :class => "btn btn-primary"
                                                                    })
                                                            %>
                                                            <%= render_aspace_partial :partial => "transfers/validate_button", :locals => {file: file} %>
                                                            <button class="transfer_replace_file btn btn-danger"
                                                                    data-key="<%= file.fetch('key') %>"
                                                                    data-filename="<%= file.fetch('filename') %>"
                                                                    data-row-id="<%= "file_#{idx}" %>"
                                                                    data-role="<%= file.fetch('role') %>">
                                                                <%= I18n.t("transfer.files.replace") %>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        <% end %>
                                    </tbody>
                                </table>
                            </section>
                        <% end %>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"><%= I18n.t("transfer._frontend.action.save") %></button>
                            <%= link_to I18n.t("actions.cancel"), :back, :class => "btn btn-cancel btn-default" %>
                        </div>
                    <% end %>

                    <%= form.emit_template "transfer_edit" %>
                </div>
            </div>
        </div>
    <% end %>
<% end %>


<div id="transfer_replace_file"
     data-title="<%= I18n.t("transfer._frontend.messages.replace_file_title") %>"><!--
    <%= form_tag({:controller => "transfers",
                  :action => "replace_file"},
                 :method => "post",
                 :id => "replace_file_form",
                 :authenticity_token => true) do %>
        <div class="modal-body">
            <div style="display: none;" class="alert alert-danger please-retry-error">File upload failed.  Please retry.</div>

            <p><%= I18n.t('transfer._frontend.messages.replace_file_message',
                          filename: "${filename}",
                          role: "${role}") %></p>

            <input type="hidden" name="key" value="${key}">

            <div class="form-group">
                <input type="file" name="replacement_file" required>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit"><%= I18n.t("transfer._frontend.action.replace_file") %></button>
            <button class="btn btn-cancel btn-default" data-dismiss="modal"><%= I18n.t "transfer._frontend.back_button" %></button>
        </div>
    <% end %>

    <%# This is inline because we need trimpath to fill out ${rowId} below. %>
    <script>
     $('#replace_file_form').on('submit', function (e) {
         e.preventDefault();

         var rowId = "${rowId}";

         var form = this;
         var data = new FormData(form);
         var url = form.action;

         $('#replace_file_form').find('.please-retry-error').hide();

         $.ajax({
             type: "POST",
             url: url,
             data: data,
             processData: false,
             contentType: false,
             success: function (data) {
                 // Replace the original table with our updated values
                 var row = $('#' + rowId);
                 row.find('.file-filename').text(data.filename);
                 row.find('.file-mime-type').text(data.mime_type);

                 // Close the modal
                 $('#replace_file_form').find('.btn-cancel').click();
                 window.transfers.resetValidateButtons();
             },
             error: function () {
                 $('#replace_file_form').find('.please-retry-error').show();
             }
         });

         return false;
     });
</script>

--></div>




<%= render_aspace_partial :partial => "transfers/validation_template" %>
