<%= setup_context :object => @transfer, :title => @transfer.title %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :transfer, @transfer do |readonly| %>
        <%= render_aspace_partial :partial => "transfers/form", :locals => {:form => readonly} %>
        <% unless ASUtils.wrap(@transfer['files']).empty? %>
          <section id="transfer_files_">
            <h3><%= I18n.t("transfer._frontend.section.files") %></h3>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><%= I18n.t("transfer.files.filename") %></th>
                  <th><%= I18n.t("transfer.files.mime_type") %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% ASUtils.wrap(@transfer['files']).each do |file| %>
                  <tr>
                    <td><%= file.fetch('filename') %></td>
                    <td><%= file.fetch('mime_type') %></td>
                    <td class="table-record-actions">
                      <div class="btn-group">
                        <%=
                        link_to(I18n.t("transfer.files.view"),
                                {
                                  :controller => :transfer_files,
                                  :action => :show,
                                  :key => file.fetch('key'),
                                  :filename => file.fetch('filename'),
                                  :mime_type => file.fetch('mime_type'),
                                },
                                {
                                  :class => "btn btn-primary"
                                })
                        %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </section>
        <% end %>


        <section id="conversation" class="conversation">
          <h3><%= I18n.t("transfer._frontend.section.conversation") %></h3>
          <div id="conversation-widget"></div>
        </section>

        <%= display_audit_info(@transfer) %>
        <%= show_plugins_for(@transfer, readonly) %>
      <% end %>
    </div>
  </div>
</div>


<script>
 new ConversationWidget({
   el: '#conversation-widget',
   handle_id: '<%= @transfer.handle_id %>'
 });
</script>
