<%= setup_context :object => @transfer, :title => @transfer.title %>

<div class="row">
  <div class="col-md-3">
    <%= render_aspace_partial :partial => "sidebar" %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :transfer, @transfer do |readonly| %>
        <%= render_aspace_partial :partial => "transfers/form", :locals => {:form => readonly} %>

        <section id="transfer_checklist">
          <h3><%= I18n.t("transfer._frontend.section.checklist") %></h3>
          <div class="transfer_checklist_item">
            <input type="checkbox" id="checklist_transfer_proposal_approved" disabled <% if @transfer.checklist_transfer_proposal_approved %>checked<% end %>>
            <label class="form-check-label" for="checklist_transfer_proposal_approved"><%= I18n.t("transfer.checklist.transfer_proposal_approved") %></label>
          </div>

          <div class="transfer_checklist_item">
            <input type="checkbox" disabled  id="checklist_metadata_received" <% if @transfer.checklist_metadata_received %>checked<% end %>>
            <label class="form-check-label" for="checklist_metadata_received"><%= I18n.t("transfer.checklist.metadata_received") %></label>
          </div>

          <div class="transfer_checklist_item">
            <input type="checkbox" disabled  id="checklist_rap_received" <% if @transfer.checklist_rap_received %>checked<% end %>>
            <label class="form-check-label" for="checklist_rap_received"><%= I18n.t("transfer.checklist.rap_received") %></label>
          </div>

          <div class="transfer_checklist_item">
            <input type="checkbox" disabled  id="checklist_metadata_approved" <% if @transfer.checklist_metadata_approved %>checked<% end %>>
            <label class="form-check-label" for="checklist_metadata_approved"><%= I18n.t("transfer.checklist.metadata_approved") %></label>
          </div>

          <div class="transfer_checklist_item">
            <input type="checkbox" disabled  id="checklist_transfer_received" <% if @transfer.checklist_transfer_received %>checked<% end %>>
            <label class="form-check-label" for="checklist_transfer_received"><%= I18n.t("transfer.checklist.transfer_received") %></label>
          </div>

          <div class="transfer_checklist_item">
            <input type="checkbox" disabled  id="checklist_metadata_imported" <% if @transfer.checklist_metadata_imported %>checked<% end %>>
            <label class="form-check-label" for="checklist_metadata_imported"><%= I18n.t("transfer.checklist.metadata_imported") %></label>
          </div>
        </section>

        <% unless ASUtils.wrap(@transfer['files']).empty? %>
          <section id="transfer_files_">
            <h3><%= I18n.t("transfer._frontend.section.files") %></h3>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th><%= I18n.t("transfer.files.filename") %></th>
                  <th><%= I18n.t("transfer.files.mime_type") %></th>
                  <th><%= I18n.t("transfer.files.role") %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% ASUtils.wrap(@transfer['files']).each do |file| %>
                  <tr>
                    <td><%= file.fetch('filename') %></td>
                    <td><%= file.fetch('mime_type') %></td>
                    <td class="file-role-cell">
                      <input type="hidden" class="file-role" value="<%= file.fetch('role') %>">
                      <%= file.fetch('role') %>
                    </td>
                    <td class="table-record-actions">
                      <div class="btn-group">
                        <%= render_aspace_partial :partial => "transfers/validate_button", :locals => {file: file} %>
                        <%=
                        link_to(I18n.t("transfer.files.view"),
                                {
                                  :controller => :transfer_files,
                                  :action => :show,
                                  :key => file.fetch('key'),
                                  :filename => file.fetch('filename'),
                                  :mime_type => file.fetch('mime_type'),
                                },
                                {
                                  :class => "btn btn-primary"
                                })
                        %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </section>
        <% end %>

        <%= render_aspace_partial :partial => "shared/conversation_widget", :locals => { handle_id: @transfer.handle_id } %>

        <%= display_audit_info(@transfer) %>
        <%= show_plugins_for(@transfer, readonly) %>
      <% end %>
    </div>
  </div>
</div>


<%= render_aspace_partial :partial => "transfers/validation_template" %>
