<%= setup_context :object => @transfer_proposal, :title => @transfer_proposal.title %>

<div class="row">
  <div class="col-md-3">
           <%= render_aspace_partial :partial => "sidebar", locals: {is_readonly: true} %>
  </div>
  <div class="col-md-9">
    <%= render_aspace_partial :partial => "toolbar" %>
    <div class="record-pane">
      <%= readonly_context :transfer_proposal, @transfer_proposal do |readonly| %>
        <%= render_aspace_partial :partial => "transfer_proposals/form", :locals => {:form => readonly, is_readonly: true} %>
      <% end %>
    </div>
  </div>
</div>
